 <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         

        <!-- Menu Catalags -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Home
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                  <i class="fas fa-play-circle nav-icon"></i>
                  <p>Graficos</p>
                </a>
              </li>
            </ul>
            </li>

        <!-- Reports Menu -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-business-time"></i>
              <p>
                Reportes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                    <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-stop-circle nav-icon"></i>
                    <p>Tareas</p>
                  </a>
              </li> 
            </ul>
          </li>
           <!-- end reports menu --> 

        </ul>
      </nav>